
/*.hide {
  display:none;
}

.show {
  display: block;
}*/

/*.form {

  position: fixed;
  top: 30%;
  left: 30%;
  background-color: white;
  padding: 2em;
  z-index:1000;
  border:2px solid black;
}
*/
