h1 {
  text-align: center;
  font-family: courier, sans-serif;
}

td {
  width: 50px;
  height: 50px;
  text-align: center;
  border: 1px solid #FFFFFF;
  border-radius: 10px;
}

td:first-child {
  padding-right: 10px;
  background: #FFFFFF;
  font-family: courier, sans-serif;
  font-weight: bold;
  text-align: right;
  border-radius: 0px;
}

tr:nth-child(odd) {
  background: #4E4E4E;
}

tr:nth-child(even) {
  background: #787878;
}

.currentBeat {
  background: yellow;
  opacity: 0.85;
}

input[type=checkbox] {
  visibility: hidden;
}

input[type="checkbox"] + label span {
  cursor: pointer;
  margin-right: 10px;
  padding: 0px;
  display: inline-block;
  width:20px;
  height:20px;
  vertical-align: middle;
  background: white;
}

input[type="checkbox"]:checked + label span {
    background: red;
}

input[type=submit] {
  margin-left: 70px;
  background: #787878;
  border: 2px solid black;
  font-family: courier, sans-serif;
  color: #FFFFFF;
}

#playButt {
  margin-left: 70px;
  background: #787878;
  border: 2px solid black;
  font-family: courier, sans-serif;
  color: #FFFFFF;
}

#stopButt {
  margin-left: 70px;
  background: #787878;
  border: 2px solid black;
  font-family: courier, sans-serif;
  color: #FFFFFF;
}


#deleteButt {
  float: right;
  margin-left: 70px;
  background: #787878;
  border: 2px solid black;
  font-family: courier, sans-serif;
  color: #FFFFFF;
}



