<nav id=:"nav">

  <% if session[:user_id] %>
    <form action="/logout" method="POST">
     <input type="submit" value="Logout">
    </form>
    <% user = User.find(session[:user_id]) %>
    <a href="/users/<%= user.id %>">Your Profile</a>
  <% else %>
    <a href="/login" id="loginButton">Login</a>
    <a href="/users/new" id="signupButton">Register</a>
  <% end %>

  <a href="/sequences/create">New Sequence</a>
  <a href="/">Home</a>

<!-- HIDDEN FORMS -->
  <form class="hide form" id="loginForm" action="/login" method="POST">
    <button id="loginAway">x</button>
    <input type="text" name="email" placeholder="email">
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="Login">
  </form>

  <form class="hide form" id="signupForm" action="/users/new" method="POST">
    <button id="signupAway">x</button>
    <input type="text" name="signup[name]" placeholder="name">
    <input type="text" name="signup[email]" placeholder="email">
    <input type="password" name="signup[password]" placeholder="password">
    <input type="submit" value="Register">
  </form>

</nav>
