<link rel="stylesheet" href="/css/user_interface.css">

<nav id="nav">

<ul class="nav_ul">
  <li class = "nav_li">
    <a href="/">Home</a>
  </li>
  <li class = "nav_li">
    <a href="/sequences/create">New Sequence</a>
  </li>
  <% if session[:user_id] %>
  <% user = User.find(session[:user_id]) %> 
  <li class = "nav_li">
    <a href="/users/<%= user.id %>">Your Profile</a>
  </li>
  <li class = "nav_li_right">
    <form action="/logout" method="POST" id="logout">
      <input type="submit" id="logoutButton" value="Logout">
    </form>
  </li>
  <% else %>
  <li class = "nav_li">
    <a href="/login" id="loginButton">Login</a>
  </li>
  <li class = "nav_li_right">
    <a href="/users/new" id="signupButton">Register</a>
  </li>
  <% end %>


<!-- HIDDEN FORMS -->
  <form class="hide form" id="loginForm" action="/login" method="POST">
    <button id="loginAway">x</button>
    <input type="text" name="email" placeholder="email">
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="Login">
  </form>

  <form class="hide form" id="signupForm" action="/users/new" method="POST">
    <button id="signupAway">x</button>
    <input type="text" name="signup[name]" placeholder="name">
    <input type="text" name="signup[email]" placeholder="email">
    <input type="password" name="signup[password]" placeholder="password">
    <input type="submit" value="Register">
  </form>

</nav>
