<div class="container">
  <h1>Welcome to Beat Gorilla!</h1>
  <div class="list">
    <h2>Choose a Sequence</h2>
    <ol>
    <% @sequences.each do |sequence| %>
      <li><a href="/ui/<%= sequence.id %>"><%= sequence.name %></a></li>
    <% end %>
  </ol>
  </div>
</div>
