<!-- <link rel="stylesheet" href="/css/user_interface.css">
 -->
<div><%= erb :"/partials/_navbar"  %></div>

<div class="container">

  <div id="sequenceName"></div>
  <button>+ Sound</button>
  <button>- Sound</button>

  <button>+ Step</button>
  <button>- Step</button>

  <table>
  </table>

  <br><br>

  <button id="playButt">Play</button>
  <button id="stopButt">Stop</button>


  <!-- the post address should be determined by JS dynamically too -->
  <form action='#' method="post">
    <input type="hidden" name="_method" value="put" />
    <input type="submit" value="Save Sequence">
  </form>


</div>

<script src="/js/models/sequence.js" ></script>
<script src="/js/dynamic.js" ></script>
<script src="/js/application.js"></script>
